<!-- Content Start -->
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    {{> spinner}}

    {{> sidebar}}

    {{! Your existing content here }}

</div>
<!-- Content End -->
