<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Atheneuam - Book Colleciton</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/book collection 0.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="dashboard" class="navbar-brand mx-4 mb-3">
                    <div class="d-flex justify-content-between">
                        <img src="/img/book collection 0.png" alt="logo"
                            style="width: 40px; height: 40px; border-radius: 50%;">
                        <h3 class="gradient-text p-1 px-2"> <span class="pt-5">Atheneuam</span></h3>
                    </div>
                </a>
                <div class="navbar-nav w-100 d-flex ">
                    <div>
                        <a href="dashboard" class="nav-item nav-link "><i class="bi bi-stack"></i>Dashboard</a>
                        <a href="shop" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Shops</a>
                        <a href="user" class="nav-item nav-link"><i class="bi bi-people"></i>Customers</a>
                        <a href="products" class="nav-item nav-link active" id="productSection"><i
                                class="bi bi-book"></i>Products</a>
                        <a href="category" class="nav-item nav-link"><i class="bi bi-box"></i>Category</a>
                        <a href="order" class="nav-item nav-link"><i class="bi bi-cart3"></i></i>Orders</a>
                        <a href="admin" class="nav-item nav-link"><i class="bi bi-person"></i>Admin</a>
                        <a href="offer" class="nav-item nav-link"><i class="bi bi-percent"></i>Offer</a>
                        <a href="banner" class="nav-item nav-link"><i class="bi bi-card-image"></i>Banner</a>
                    </div>
                    <div>
                        <a href="/logout" class="nav-link" data-bs-toggle="dropdown"><i
                                class="bi bi-box-arrow-right"></i>Logout</a>
                    </div>
                </div>
            </nav>
        </div>
        </nav>
    </div>
    </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark  px-4 py-0">
            <div class="navbar-nav align-items-center ms-auto">
                <h6>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                </h6>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link ">
                        <h3><i class=" bi-person text-dark"></i>
                        </h3>
                    </a>
                </div>
                <div class="mt-2 text-primary">
                    <p class="">{{admin}}</p>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Button Start -->
        <div class="container-fluid pt-4 px-4">
            <h2 class="text-primary text-center">Add Book</h2>
            <div class="bg-secondary border rounded mb-3">
                <form action="/api/products" method="POST" id="add_product" onsubmit="return productValidation"
                    enctype="multipart/form-data">
                    <div class="row m-2 ">
                        <div class="form-group col-lg-6 my-2">
                            <label for="category">Genre</label>
                            <select class="form-select" aria-label="Default select example" name="genre">
                                {{#each category}}
                                <option value="Fiction">{{this.genre}}</option>
                                {{/each }}
                            </select>
                        </div>
                        <div class="mb-3 col-lg-6 my-2">
                            <label for="shopName">Shop Name</label>
                            <input type="text" class="form-control" id="shopName" name="shopName">
                        </div>
                        <div class="form-group col-lg-6  my-2">
                            <label for="bookName">Book Name</label>
                            <input type="text" class="form-control" id="bookName" name="bookName" value="">
                        </div>
                        <div class="mb-3 col-lg-6 my-2">
                            <label for="productImg">Upload Book Image</label>
                            <input type="file" class="form-control" id="productImg" name="productImg">
                        </div>
                        <div class="form-group col-lg-6  my-2">
                            <label for="Author">Author</label>
                            <input type="text" class="form-control" id="author" value="" name="author">
                        </div>
                        <div class="form-group col-lg-6 my-2">
                            <label for="quantity">Quantity</label>
                            <select class="form-select" aria-label="Default select example" name="quantity">
                                <option selected>10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="80">80</option>
                                <option value="160">160</option>
                                <option value="320">320</option>
                                <option value="640">640</option>
                                <option value="1280">1280</option>
                            </select>
                        </div>
                        <div class="mb-3 ">
                            <label for="description" class="form-label">Book Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                        </div>                      
                        <div class="form-group col-lg-6  my-2">
                            <label for="originalPrice">Original Price</label>
                            <input type="number" class="form-control" id="originalPrice" value="" name="originalPrice">
                        </div>
                        <div class="form-group col-lg-6  my-2">
                            <label for="price">Discount</label>
                            <input type="number" class="form-control" id="discount" value="" name="discount">
                        </div>
                        <div class="form-group col-lg-6  my-2">
                            <label for="price">Selling Price</label>
                            <input type="number" class="form-control" id="price" value="" name="price">
                        </div>
                        <div class="d-flex col-lg-6 mt-5 pt-2">
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="stock" id="inStock"
                                value="In Stock">
                            <label class="form-check-label stockRadioBtn" for="In Stock">In Stock</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="stock" id="outOfStock"
                                value="Out Of Stock">
                            <label class="form-check-label stockRadioBtn" for="Out of Stock">Out Of Stock</label>
                        </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a href="products" class="btn btn-4 btn-outline-dark mx-3 ">Cancel</a>
                        <button href="" class="btn btn-4 btn-primary">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>